.bg-custom {
  background-color: #ced4d870;
    /* opacity: 0.2; */
  /* #c1d3db; */
  /* #a0b8c7; */
  /* #7a9aaf; */
  /* #4f6b82 */
}

.btn-custom {
  background-color: #2c3e50 !important;
  color: white !important;

}

.btn-custom1 {
  background-color: #2c3e50 !important;
  color: white !important;
}
.container {
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.bg-photo-editor {
  background-image: url('../images/background.jpg'); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: c; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  /* height: 100vh; Adjust height as needed */
}

.bg-photo-home {
  background-image: url('../images/home-back.png'); /* Replace with your image path */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.bg-photo-templates {
  background-image: url('../images/templates-back.jpeg'); /* Replace with your image path */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}